/*
//  ==========================
//  Evgeniy Ivanov
//  Email: busforward@gmail.com
//  Skype: ivanov_ea
//  ==========================
 */

// Compass extention 
@import 'compass/css3';

// Global variables
// ========================================================================

// $footer_height: 								347px;
$grid_padding:									30px;

$color_dark: 									#19140e;
$color_withe: 									#e7e0ca;
$color_midle: 									#7d6754;

$main_font_family: 								"Trebuchet MS";
$color_content: 								#252627;
$color_blue: 									#005e9f;
$color_gray: 									#999;
$color_title: 									#6e4682;

// Breakpoints com
// ================================================================
$breakpoint-small:                               480px !default;
$breakpoint-medium:                              760px !default;
$breakpoint-large:                               960px !default;
$breakpoint-xlarge:                              1200px !default;

$breakpoint-mini-max:                            ($breakpoint-small - 1) !default;
$breakpoint-small-max:                           ($breakpoint-medium - 1) !default;
$breakpoint-medium-max:                          ($breakpoint-large - 1) !default;
$breakpoint-large-max:                           ($breakpoint-xlarge - 1) !default;


// Example - @extend %f_bold;
%f_bold {
	font-weight: 600;
}
%f_normal {
	font-weight: 400;
}
%f_light {
	font-weight: 300;
}

// Elements color ==========================================================
// Example for button 
// --------------------------
// for html - btn__primary, btn__success etc...
// --------------------------
// for scss 
// .btn{
// 	@each $status, $color in $el_bg_colors {
// 		&__#{$status} {
// 			background: $color;
// 		}
// 	}
// }
$el-bg-colors: (
	primary: #000000, // color for .element__primary
	success: #27BA6C, // color for .element__success
	info: #03a9f4, // color for .element__info
	warning: #FF8833, // color for .element__warning
	danger: #ff1a1a, // color for .element__danger
);

$el_default_bg_color:							#ddd;
$el_default_bg_color_hover:						#ccc;

$btn_default_text_color:                        #000;
$btn_contrast_text_color:                        #fff;


// Mixin =======================================================================

// Style for columns text 
// Используется для многоколоночного адаптивного текста, а также для списков
// $width - минимальная ширина колонок
// $count - количество колонок (при уменьшении экрана меняются автоматически в зависимости от первого значения)
// $padding - отступ между колонками
// $divider_widh - ширина разделительной линии между колонками
// $divider_line - стиль разделительной линии 
// $divider_color - цвет разделительной линии 
// Лишнее можно просто закомментировать
// ---------------------------------
// Example for html 
// div class="column"
// ---------------------------------
// Example for scss 
// .column {
// 	@include columns-text(300px, 3, 40px, 1px, solid, #000);
// }
@mixin columns-text($width, $count, $padding, $divider_widh, $divider_line, $divider_color) {
	@include columns($width $count); // Count and width or columns
	@include column-gap($padding); // Padding for columns
	@include column-rule($divider_widh $divider_line $divider_color); // Divider for columns
}


// Float el clear
%clear_a {
	&:after {
		content: '';
		display: table;
		clear: both;
	}
}

%clear_b {
	&:before {
		content: '';
		display: table;
		clear: both;
	}
}

%clear_all {
	@extend %clear_a;
	@extend %clear_b;
}

// Transition speed for element
@mixin trs($trs_speed) {
	@include transition(all $trs_speed);
}


// Placeholder for input
@mixin placeholder {
  ::-webkit-input-placeholder {@content};
  :-moz-placeholder           {@content};
  ::-moz-placeholder          {@content};
  :-ms-input-placeholder      {@content};  
}


// End @mixin and variables

// ========================================================================
// Main styles
// ========================================================================
.fl__left {
	float: left;
}

.fl__right {
	float: right;
}

.form__row,.row {
	@extend %clear_a;
	&+* {
		margin-top: 15px;
	}
}

// Reset brouser styles ========================
* {
	margin: 0;
	padding: 0;
	@include box-sizing(border-box);
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
	display: block;
}

html,body,.wrapper {
	position: relative;
	height: 100%;
}

body { 
	font: 14px/18px $main_font_family;
	color: $color_dark;
	line-height: 1;
	background: #f6f6f6;
}

h3 {
	color: #6e4682;
	font-size: 17px;
	border-bottom: 3px solid #6e4682;
	margin-bottom: 10px;
	padding-right: 10px;
	line-height: 1.2;
}

a {
	text-decoration: none;
	outline: 0;
	color: $color_blue;
	&:hover {
		text-decoration: underline;
	}
	&:focus {
		outline: 0;
	}
}

ol,ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.list {
	margin-top: 25px;
	margin-bottom: 25px;
	&>* {
		line-height: 18px;
		padding-left: 15px;
		&:before {
			content: '·';
			font-size: 30px;
			display: inline-block;
			vertical-align: sub;
			margin-right: 5px;
			margin-left: -14px;;
		}
		&+* {
			padding-top: 11px;
		}
	}
}

p {
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	border: none;
	&.fl__left { // Для картинок с обтекание внутри основного контента сайта
		margin-top: 4px;
		margin-right: 20px;
		margin-bottom: 20px;
	}
	&.fl__right { // Для картинок с обтекание внутри основного контента сайта
		margin-top: 14px;
		margin-bottom: 20px;
		margin-left: 29px;
	}
}

.wrapper {
	width: 1000px;
	margin: 0 auto;
	@extend %clear_a;
	height: auto;
}
// Input text and textarea ================================================
input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=search],
input[type=tel],
input[type=number],
input[type=datetime], 
textarea {
	background-color: #fff;
	border: 1px solid #d5d5d5;
	padding: 3px 9px 5px;
	outline: none;
	font-size: 14px;
	font-family: $main_font_family;
	@include border-radius(0px);
	@include trs(0.3s);
	width: 100%;
	&:hover {
	}
	&:focus {
		@include placeholder {
			color: transparent;
		}
	}
	&.input_error {
		background-color: #fff0f0;
		border: 1px solid red;
	}
	&+.btn {
		margin-top: 18px;
	}
}
@include placeholder {
	font-family: $main_font_family;
	color: #1e1d1d;
	font-size: 11px;
}


textarea {
	min-height: 78px;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    height: auto;
}

// Input checkbox and radio ===============================================

input[type=checkbox],
input[type=radio] {
	padding: 0;
    display: inline-block;
    height: 12px !important;
    width: 12px !important;
    border: 1px solid #aaa;
    overflow: hidden;
    margin-top: -4px;
    vertical-align: middle;
    -webkit-appearance: none;
    outline: 0;
    background: 0 0;
    text-align: center;
    position: relative;
	&:not(:disabled) {
	    cursor: pointer;
	}
	&:before {
	    display: block;
	}
	&:disabled {
	    border-color: #ddd;
	}
}

input[type=radio] {
    border-radius: 50%;
	&:checked:before {
	    content: '';
	    width: 12px;
	    height: 12px;
	    top: 50%;
	    left: 50%;
	    margin-left: -6px;
	    display: block;
	    position: absolute;
	    border-radius: 50%;
	    background: #aed0e2;
	    margin-top: -6px;
	}
	&:disabled:checked:before {
	    background-color: #aaa;
	}
}

input[type=checkbox] {
	&:checked:before,
	&:indeterminate:before {
	    content: "\2714";
	    font-size: 12px;
	    -webkit-font-smoothing: antialiased;
	    text-align: center;
	    line-height: 13px;
	    color: #aed0e2;
	}
	&:indeterminate:before {
	    content: "\f068";
	}
	&:disabled:checked:before,
	&:disabled:indeterminate:before {
	    color: #aaa;
	}
}

input[type="password"]{
}

input[type="text"].in_search {
	padding-left: 10px;
	width: 415px;
	height: 26px;
	border: 1px solid #6e4682;
	background: #fff;
	margin: 0;
	padding: 0 10px;
	float: left;
}

button,.btn {
	background: #fff;
	width: 70px;
	height: 25px;
	border: 1px solid #6e4682;
	@include border-radius(10px);
	@include trs(0.3s);
	cursor: pointer;
	outline: none;
	&:hover{
		background: #6e4682;
		color: #fff;
	}
}

.column {
	@include columns-text(300px, 3, 40px, 1px, solid, #000);
}


/* Header
-----------------------------------------------------------------------------*/
.header {
	padding-bottom: 5px;
	border-bottom: 7px solid #6e4682;
	@extend %clear_a;
	&_left {
		float: left;
		margin-bottom: 8px;
		width: 768px;
		&_img {
			margin-bottom: 9px;
			display: block;
			img {
				display: block;
			}
		}
	}
	&_right {
		float: right;
		width: 193px;
		padding-top: 13px;
	    &>* {
	    	vertical-align: top;
	    }
	    &_rek {
			margin-bottom: 10px;
	    }
	}
	.serch_box {
		margin-bottom: 9px;
	}
}

.logo {
    display: inline-block;
    width: 160px;
    margin-right: 35px;
    padding-top: 23px;
    float: left;
}

.serch_box {
	position: relative;
	input {
		width: 100%;
		padding-right: 37px;
	}
	.btn_serch {
		position: absolute;
		right: 0;
		top: 0;
		border: none;
		width: 27px;
		background: image-url('search.png') no-repeat center center;
		background-color: transparent;
		display: inline-block;
		&:hover {
			opacity: .8;
		}
	}
}

.autorization_link {
	margin-bottom: 38px;
	a {
		margin-right: 19px;
		font-size: 12px;
	}
}

.vh_reg{
    vertical-align: top;
    text-align: center;
    width: 193px;
    padding: 8px 0 0;
    float: left;
    input {
    	margin-bottom: 5px;
    }
	input[type='password'] {
		margin-bottom: 4px;
	}
}


.registration {
    color: #006699;
    margin: 0 17px 0 0;
    font-size: 12px;
    text-decoration: underline;
    &:hover {
    	text-decoration: none;
    }
}

.vhod {
	border: none;
	background: none;
	text-decoration: underline;
	color: #006699;
	padding: 0;
	margin: 0;
	font-size: 13px;
	height: inherit;
	width: initial;
	&:hover{
		border: none;
		background: none;
		text-decoration: none;
		color: #006699;
		padding: 0;
		margin: 0;
	}
}


.head_centr {
	display: inline-block;
}

/*
/ Menu ===================================================*/
.navbar {
	&__item {
		display: inline-block;
	}
	&__link {
		display: block;
	}
}

.header_nav {
	@include columns-text(auto, 4, 10px, 0, solid, #000);
	width: 573px;
	.navbar__item {
		display: block;
		margin-top: 3px;
	}
	.navbar__link {
		display: inline-block;
		padding: 2px 5px;
		white-space: nowrap;
		border: 1px solid #6e4682;
		font-size: 12px;
		color: #333;
		@include border-radius(3px);
		&:hover,&.active {
			background-color: #6e4682;
			color: #fff;
			text-decoration: none;
		}
	}
}



/* Middle
-----------------------------------------------------------------------------*/
.middle {
	width: 100%;
	position: relative;
	padding: 30px 0px 47px 0px;
	@extend %clear_a;
}
.middle:after {
	display: table;
	clear: both;
	content: '';
}
.container {
	// width: 100%;
	overflow: hidden;
	// float: left;
	width: 517px;
}

.content{
	// padding: 0 253px 0 253px;
	margin-left: 10px;
	margin-right: 10px;
	.shadow_boxes {
		clear: both;
		margin-bottom: 10px;
		@extend %clear_b;
		&.w_50 {
			clear: none;
			margin-bottom: 10px;
			.klinick_r {
				width: 100%;
			}
		}
	}
}

.main_content {
	background-color: #fff;
	padding: 6px 10px 10px;
	border: 1px solid #d5d5d5;
	@include box-shadow(0 2px 5px rgba(0, 0, 0, 0.1));
	h1 {
		color: #6e4682;
		font-size: 18px;
		font-weight: 400;
		border-bottom: 3px solid #6e4682;
		margin-bottom: 16px;
		padding-bottom: 3px;
	}
	h2 {
		color: #5a798f;
		font-size: 18px;
		line-height: 18px;
		font-weight: 400;
		margin-bottom: 20px;
	}
}

.shadow_boxes {
	padding: 5px 11px 15px;
	background-color: white;
	border: 1px solid #d5d5d5;
	@include box-shadow(0 2px 5px rgba(0, 0, 0, 0.1));
	@extend %clear_a;
	&+* {
		margin-top: 15px;
	}
	&_title {
		color: #6e4682;
		font-size: 18px;
		font-weight: 400;
		padding-bottom: 2px;
		margin-bottom: 15px;
		border-bottom: 3px solid;
		&-warning {
			&:before {
				content: image-url('warning.png');
				display:inline-block;
				margin-right: 5px;
				vertical-align: baseline;
			}
		}
		.title_link {
			float: right;
			color: #e21c2a;
			font-family: $main_font_family;
			font-size: 11px;
			font-weight: 600;
			text-decoration: underline;
			padding-top: 3px;
			letter-spacing: 0.03em;
			line-height: 1.2;;;
			&:hover {
				text-decoration: none;
			}
			&-nodecor {
				text-decoration: none !important;
			}
		}
	}
	&.w_50 {
		width: 243px;
		// float: left;
		@extend %clear_all;
		margin-top: 0;
	}
}

.news_list {
	padding: 0;
	li {
		border-bottom: 2px solid #f6f6f6;
		padding-bottom: 8px;
		margin-bottom: 11px;
	}
	&_date {
		color: $color_gray;
		font-size: 10px;
		display: inline-block;
		margin-right: 8px;
		text-decoration: none !important;
		
	}
	a {
		color: #5a798f;
		line-height: 1.2;
	}
}

// Home page ---------------------------------------
.general_thems {
	float: left;
	margin-bottom: 14px;
	@extend %clear_a;
	width: 747px;
	&_left {
		width: 493px;
		float: left;
		img {
			display: block;
			margin-bottom: 10px;
		}
		&_title {
			color: #005e9f;
			font-size: 17px;
			margin-bottom: 5px;
		}
		&_description {
			color: #252627;
			line-height: 1.2;
		}
	}
	&_right {
		float: right;
		width: 243px;
	}
	.shadow_boxes {
		height: 395px;
	}
}

.viewpoint {
	padding-top: 2px;
	padding-bottom: 5px;
	&_item {
		&+* {
			margin-top: 14px;
		}
	}
	&_img {
		display: block;
		margin-bottom: 5px;
		img {
			display: block;
		}
	}
	&_name {
		color: #333;
		font-size: 13px;
		margin-bottom: 1px;
	}
	&_link {
		color: $color_blue;
		font-size: 15px;
		line-height: 16px;
		display: block;
		overflow: hidden;
	}
}


.news_medic, .detal_bol {
	background: #fff;
	border: 1px solid #d8d8d8;
	padding: 10px;
	@include box-shadow(0 0 5px #d5d5d5);
}

.news_medic h1, .detal_bol h1{
	color: #6e4682;
	font-size: 18px;
	border-bottom: 3px solid #6e4682;
	margin-bottom: 10px;
}

.medic {
	position: relative;
	display: inline-block;
	margin-bottom: 13px;
}

.news_medic h1 a {
	float: right;
	font-size: 12px;
	text-decoration: underline;
	color: #e21c2a;
}

.medic_img {
	display: inline-block;
	vertical-align: top;
	margin-right: 7px;
	float: left;
	margin-top: -1px;
}

.medic_wr {
	.medic_title {
		margin-bottom: 5px;
		h2 a {
			font-size: 17px;
			color: #005e9f;
			display: block;
			line-height: 19px;
			text-decoration: none;
			margin-top: -3px;
			margin-bottom: 3px;
		}
		h2 a:hover {
			text-decoration: underline;
		}
	}
	.medic_data {
		font-size: 10px;
		color: #999999;
		margin-bottom: 3px;
		margin-top: -4px;
	}
	p {
		font-size:13px;
		line-height: 13px;
	}
}

.news_klinick {
	margin-top: -5px;
	margin-bottom: -14px;
}

.img_klinick {
	margin-bottom: 2px;
}

.klinick_l {
	display: inline-block;
	width: 49%;
	margin-bottom: 12px;
	min-height: 160px;
}

.klinick_r {
	display: inline-block;
	width: 49%;
	float: right;
}

.klinik_link {
	display: block;
	text-decoration:none;
	font-size: 17px;
	line-height: 18px;
	color: #005e9f;
	margin-bottom: 2px;
	&:hover {
		text-decoration:underline;
	}
}

.klinik_text {
	padding: 0;
	margin: 0;
	line-height: 1;
	color: $color_content;
}

.search_recipe {
	text-align: center;
	background: #e2e5e7;
	border: 1px solid #b5afaf;
	margin-top: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	span {
		color: #5a798f;
		display: block;
	}
}

.in_recipe {
	padding: 0px;
	width: 250px!important;
	height: 22px;
	background: #fcfcfc;
	border: 2px solid #d5d5d5;
	margin: 0px;
}

.add_story {
	text-align: center;
	a {
		display:inline-block;
		background: image-url('add-icon.png') no-repeat;
		height:22px;
		color: #7b598c;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 11px;
		text-decoration:none;
		padding:6px 0 0 35px;
		&:hover {
			text-decoration:underline;
		}
	}
}

/* Left Sidebar
-----------------------------------------------------------------------------*/
.left-sidebar {
	float: left;
	width: 240px;
	@extend %clear_a;
	// position: relative;
	// margin-left: -100%;
	h3 {
		margin-bottom: 15px;
		padding-right: 0;
	}
}

.sentiments {
	background: #fff;
	border: 1px solid #d8d8d8;
	padding: 4px 10px 8px;
	@include box-shadow(0 0 5px #d5d5d5);
}

.sentiment {
	&+.sentiment {
		margin-top: 9px;
	}
}

.sen_img {
	margin-right: 5px;
	float: left;
}

.sen_data {
	margin-bottom: 5px;
	font-size: 10px;
	color: #999999;
	display: block;
}

.sen_author {
	font-size: 13px;
	color: #333333;
	display: block;
	margin-bottom: 1px;
}

.sen_link {
	margin-bottom: 4px;
	a {
		font-size: 15px;
		color: #005e9f;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}

.sen_text {
	font-size: 13px;
	color: #252627;
	display: inline;
	line-height: 15px;
}

.sidebar_rek {
	display: block;
	&+* {
		margin-top: 15px;
	}
	img {
		display: block;
	}
}

.num_list {
	counter-reset: li;
	li {
		&+li {
			margin-top: 15px;
		}
	}
	&_title {
		display: block;
		line-height: 1.2;
		margin-bottom: 5px;
		color: $color_blue;
		@extend %clear_a;
		position: relative;
		&:before {
			counter-increment: li;
			content: counter(li);
			background-color: #e21c2b;
			display:inline-block;
			vertical-align: middle;
			float: left;
			width: 14px;
			line-height: 14px;
			color: white;
			font-size: 10px;
			font-weight: 700;
			text-align: center;
			margin-top: -7px;
			@include border-radius(14px);
			position: absolute;
			left: 0;
			top: 50%;
		}
		span {
			padding-left: 21px;
			display: block;
			overflow: hidden;
		}	
	}
	&_text {
		font-size: 13px;
	}
}

.finde_recept {
	background-color: #e2e5e7;
	border: 1px solid #b0a9a9;
	padding: 13px 20px;
	text-align: center;
	margin-bottom: 15px;
	@include box-shadow(0 2px 5px rgba(0, 0, 0, 0.1));
	&_legend {
		color: #5a798f;
		line-height: 18px;
		margin-bottom: 12px;
		display: block;
		width: 100%;
	}
	input {
		border: 2px solid #d5d5d5;
		height: 28px;
		margin-bottom: -5px;
	}
	.btn {}
}

.people_recepts {
	margin-top: -5px;
	&_item {
		display: block;
		&+* {
			margin-top: 12px;
		}
	}
	&_name {
		color: $color_gray;
		display: block;
		font-size: 12px;
		margin-bottom: 5px;
	}
	&_link {
		color: $color_blue;
		font-size: 15px;
		line-height: 16px;
		display: inline;
	}
	&_notiff {
		color: $color_gray;
		font-size: 10px;
		display: inline;
		&:before {
			content: image-url('notif.png');
			display:inline-block;
			vertical-align: text-bottom;;
			margin-right: 7px;
		}
	}
}


.calendar {
    margin-top: 10px;
    background: #fff;
    border: 1px solid #d8d8d8;
    @include box-shadow(0 0 5px #d5d5d5);
    padding: 4px 10px 15px;
    margin-bottom: 13px;
	.months {
	    margin-top: 16px;
	    font-size: 12px;
	    position: relative;
	    text-align: center;
		.left{
		    position: absolute;
		    top: 0px;
		    left: 17%;
		    display: block;
		    width: 6px;
		    height: 10px;
		    background: image-url('arrow-left.png') no-repeat;
		}
		.right{
		    position: absolute;
		    top: 0px;
		    right: 15%;
		    display: block;
		    width: 6px;
		    height: 10px;
		    background: image-url('arrow-right.png') no-repeat;
		}
	}

	.days {
	    margin-top: 19px;
	    text-align: center;
	    font-size: 12px;
	}
	.days span {
	    margin: 2px 4px;
	}
	.dev-unit {
		a {
		    display: block;
		    background: #e2e5e7;
		    border: 1px solid #b4aeae;
		    color: #5a798f;
		    font-size: 14px;
		    text-decoration: none;
		    height: 33px;
		    padding: 2px 10px;
		    overflow: hidden;
			&:hover {
			    opacity: .7;
			}
			span {
			    // margin-left: 6px;
			}
			span.p {
			    font-size: 13px;
			    width: 69%;
			    float:right;
			    margin-right: 15px;
			}
		    &+a {
		    	margin-top: 2px;
		    }
		}
	}
	.pagination {
	    padding: 0 12px;
	    float: none;
	    margin-bottom: 13px;
	    @extend %clear_a;
		ul {
			padding: 0 16px;
			margin-top: 11px;
			font-size: 12px;
			text-align: center;
			float: none;
			li {
				font-size: 12px;
				padding: 3px 3px;
				margin: 0 2px;
				list-style-type: none;
				cursor: pointer;
				min-width: 18px;
				text-align: center;
				display: inline-block;
				li:hover {
					color: #fff;
					background: #6e4682;
				}

				li.active {
					color: #fff;
					background: #6e4682;
				}
			}
		}
		.left {
			background: image-url('arrow-left.png') no-repeat;
			width: 6px;
			height: 10px;
			display: block;
			position: absolute;
			left: 6px;
			top: 4px;
		}

		.right {
			background: image-url('arrow-right.png') no-repeat;
			width: 6px;
			height: 10px;
			display: block;
			position: absolute;
			right: 3px;
			top: 4px;
		}
	}
}

.left-col>img {
    margin-top: 15px;
}

.pagination ul {
	padding: 0 20px;
	float: left;
	margin-top: 13px;
	font-size: 12px;
}
.pagination {
	position: relative;
	float: left;
	margin-bottom: 11px;
}

.pagination .left {
	background: image-url('arrow-left.png') no-repeat;
	width: 6px;
	height: 10px;
	display: block;
	position: absolute;
	left: 6px;
	top: 15px;
}

.pagination ul li {
	font-size: 14px;
	padding: 0 3px;
	margin: 0 5px;
	float: left;
	list-style-type: none;
}

.pagination .right {
	background: image-url('arrow-right.png') no-repeat;
	width: 6px;
	height: 10px;
	display: block;
	position: absolute;
	right: 0;
	top: 14px;
}

.pagination ul li:hover {
	cursor: pointer;
	color: #fff;
	background: #6e4682;
}

.pagination ul li.active {
	color: #fff;
	background: #6e4682;
}

/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	float: right;;
	width: 240px;
	// margin-left: -240px;
	position: relative;
	@extend %clear_a;
	h3 {
		margin-bottom: 16px;
	}
}

.tips {
	margin-bottom: 13px;
	padding-bottom: 13px; 
	.tip {
		display: table;
		width: 100%;
		&>* {
			display: table-cell;
			vertical-align: middle;
		}
		&+.tip {
			margin-top: 12px;
		}
		.tip_link {
			width: 154px;
			height: 50px;
			padding-left: 7px;
			a {
				font-size: 14px;
				color: #005e9f;
				text-transform: uppercase;
				text-decoration:none;
				&:hover {
					text-decoration:underline;
				}
			}
		}
		.tip_img {
			width: 50px;
		}
	}
}

.review_list {
	li{
		&+li {
			margin-top: 14px;
		}
	}
	&_title {
		color: $color_blue;
		font-size: 15px;
		font-weight: 400;
		margin-bottom: 9px;
		display: block;
	}
	&_title-women {
		&:before {
			content: image-url('women.png');
			display: inline-block;
			margin-right: 9px;
			vertical-align: bottom;
			
		}
	}
	&_title-man {
		&:before {
			content: image-url('man.png');
			display: inline-block;
			margin-right: 10px;
		}
	}
	&_text {
		font-size: 13px;
		line-height: 14px;
		margin-bottom: 6px;
	}
	&_date {
		color: $color_gray;
		font-size: 10px;
	}
}

.sidebar_soc {
	margin-top: 12px;
	border-top: 3px solid $color_blue;
	padding-top: 15px;
	&_toggle {
		a {
			display:inline-block;
			vertical-align: middle;
			margin-right:12px;
			
		}
	}
	&_vidget {
		margin-top: 13px;
	}
}

.stories {
	padding: 4px 10px 12px;
	background: #fff;
	border: 1px solid #d8d8d8;
	margin-bottom: 13px;
	@include box-shadow(0 0 5px #d5d5d5);
	@extend %clear_a;
	h3 {
		margin-bottom: 13px;
	}
}

.history {
	float: left;
	padding-right: 4px;
	margin-bottom: 12px;
	width: 106px;
	&:nth-child(odd) {
		padding-left: 4px;
		padding-right: 0;
	}
	.his_title {
		text-align:center;	
		h6 {
			color: #005e9f;
			font-size: 14px;
			margin-bottom:4px
		}
	}
	.his_img {
		position: relative;
		img {
			border:1px solid #b7dff0;
		}
		a {
			text-decoration:none;
		}
	}
	.his_link {
		display: block;
		color: #005e9f;
		font-size: 14px;
		line-height: 18px;
		width: 89px;
		height: 20px;
		background: #e2e5e7;
		border: 1px solid #b0a9a9;
		text-align: center;
		position: relative;
		z-index: 2;
		margin: 0 auto;
		margin-top: -10px;
		@include box-shadow(0 2px 5px rgba(0, 0, 0, 0.1));
	}
}

/* Footer
-----------------------------------------------------------------------------*/
.footer {
	min-width: 1000px;
	background-color: #e6e6e6;
	position: relative;
	&_content {
		width: 1000px;
		margin: 0 auto;
		@extend %clear_all;
		padding: 18px 0;
	}
	&_left_box {
		float: left;
		&+.footer_left_box {
			margin-left: 52px;
		}
		p+p {
			margin-top: 6px;
		}
	}
	&_center_box {
		overflow: hidden;
		padding: 0 50px;
		width: 480px;
	}
	&_center_message {
		color: $color_gray;
		font-size: 12px;
		line-height: 16px;
		height: 59px;
	}
	&_right_box {
		float: right;
		width: 141px;
	}
	.foot_bottom {}
	.metrika {}
	.map {}
	.copy {}
}

.foot-nav {
	padding: 10px 10px 4px;;
	@extend %clear_a;
	h4 {
		float: left;
		color: #5a798f;
		font-size: 18px;
		padding: 0;
		margin: 0;
		padding-right: 46px;
	}
	ul {
		margin-top: 3px;
		@extend %clear_a;
		li {
			float:left;
			a {
				color:#5a798f;
			}
		}
	}
}

.separator {
	display: block;
	width: 1px;
	height: 14px;
	background: #5a798f;
	margin-left: 10px;
	margin-right: 10px;
}


.separ {
	display: block;
	background: image-url('separator.png') no-repeat;
	width: 1px;
	height: 12px;
	margin-top: 0px;
	float: left;
	margin-left: 10px;
	margin-right: 12px;
}

.categories {
	padding: 4px 10px 10px;
	@extend %clear_a;
	ul {
		li {
			float:left;
			width:33.33%;
			list-style-type: none;
			margin-bottom:6px;
			a {
				color: #252627;
				text-decoration:none;
				float: left;
				&:hover {
					text-decoration:underline;
				}
			}
		}
	}
}

.foot_bottom {
	padding: 0;
	@extend %clear_a;
	ul {
		float:left;
		li {
			list-style-type:none;
			float:left;
			padding-right:16px;
			&:nth-child(n+2) {
				padding-left: 0px;
			}
			a {
				text-transform: uppercase;
				padding: 0;
				font-size: 11px;
				color: #333333;
				text-decoration:none;
				&:hover{
					text-decoration:underline;
				}
			}
		}
	}
}

.copy {
	text-align: center;
	font-size: 11px;
	color: #999999;
	padding-top: 13px;
	margin-left: -11px;
}

.map {
	margin-top: 11px;
	a {
		font-size: 11px;
		color: #999999;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

.foot_top {
	height: 100px;
	background: #e7eef1;
	border-bottom: 1px solid #f6f6f6;
	-webkit-box-shadow: 0 1px 3px #dedede;
	-moz-box-shadow: 0 1px 3px #dedede;
	box-shadow: 0 1px 3px #dedede;
}

.survey {
	margin-bottom: -2px;
	h3 a {
		float: right;
		font-size: 11px;
		text-decoration: underline;
		color: #e21c2a;
		margin: 2px 0 0 6px;
		&:hover {
			text-decoration: none;
		}
	}
	h6 {
		padding: 0;
		color: #005e9f;
		font-size: 13px;
		margin: 10px 0;
		margin-bottom: 5px;
	}
	form {
		input {
			padding: 0;
			margin-top: 7px;
			margin-right: 5px;
			margin-left: 8px;
		}
		label {
			color: #252627;
			font-size: 12px;
			vertical-align: sub;
		}
		a {
			color: #006699;
			font-size: 12px;
			text-decoration: underline;
			margin-right: 20px;
			margin-top: 8px;
			display: inline-block;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.fc {
margin-top: 10px;
}

.ban {
	margin-bottom: 14px;
}

.more {
	text-align: center;
	margin-bottom: 10px;
}

.med_bg_w {
	background: #f5f2f6;
	padding: 4px 5px;
}

.med_bg_t {
	background: #edf4f8;
	padding: 4px;
}

.kl_w, .kl_r {
	padding: 4px;
	width: 48%;
	background: #edf4f8;
	height: 232px;
}

ul.menu_medic {
	margin-bottom: 18px;
	display: inline-block;
	li {
		float:left;
		list-style-type:none;
		border: 1px solid #d8d8d8;
		padding: 1px 5px 3px;
		margin-top:2px;
		min-width:115px;
		text-align:center;
		position: relative;
		&:nth-child(n+2) {
			margin-left: -1px;
		}
		&:hover {
			border: 1px solid #78538b;
		}
		&.active {
			border: 1px solid #78538b;
			padding: 3px 5px 5px;
			margin-top: 0px;
			z-index: 2;
		}
		a {
			font-size:11px;
			color:#1e1d1d;
			text-decoration:none;
			line-height:14px;
			&:hover{
				text-decoration:none;
			}
		}
	}
}


.news_detal, .detal_opisanie{
	border:1px solid #d5d5d5;
	padding:6px 7px 2px;
}

.news_detal {
	img {
		border:1px solid #b1dcef;
	}
	span {
		font-size:15px;
		color:#666666;
		padding-top: 9px;
		display: block;
		padding-bottom: 16px;
	}
	p {
		margin:0;
		font-size:14px;
		color:#252627;
		line-height:15px;
		&+p {
			margin-top: 15px;
		}
	}
}


.tags {
	margin-top: 15px;
	a {
	    color: #5a798f;
	    text-decoration: none;
	    font-size: 14px;
	    font-style: italic;
		&:hover {
			color:#8ba8bd;;
		}
	}
	span {
	    font-size: 14px;
	    color: #252627;
	}
}


.like {
	margin: 7px 0;
	div {
		display: inline-block;
		width: 32%;
		margin-top: 5px;
	}
}

h3.kom_title {
	color: #5a798f;
	border: none;
	font-size: 18px;
	margin: 15px 0px;
	float:left;
}

.name {
	color: #333333;
	font-size: 13px;
}

.koment_text {
	background: #e2e5e7;
	border: 1px solid #b7b0b0;
	padding: 3px 5px;
	box-shadow: 0px 1px 3px #ccc;
}


.reply {
	float: right;
	color: #006699;
	text-decoration: underline;
	font-size: 12px;
}

.koment_wr {
	margin-top: 3px;
	margin-bottom: 27px;
	position: relative;
	.sen_data {
		margin-top: 3px;
		margin-bottom: 0px;
	}
	.name {
		margin-top: 2px;
		margin-bottom: 9px;
	}
	.koment_text {
		padding: 3px 5px;
		font-size: 13px;
		line-height: 1.1;
		padding-bottom: 16px;
		position: relative;
		a {
			position: absolute;
			margin-bottom: -1px;
			display: inline-block;
			right: 7px;
			bottom: 3px;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.reply {
		position: absolute;
		right: 8px;
		bottom: -16px;
	}
}

.koments {
	border-top: 1px solid #6e4682;
	border-bottom: 1px solid #6e4682;
	padding-bottom: 1px;
	margin-top: 17px;
	a.open, a.close{
		display:block;
		float:right;
		color:#006699;
		text-decoration:underline;
		font-size:12px;
		cursor:pointer;
	}
	a.add_koment{
		text-decoration:none;
		color:#1e1d1d;
		font-size:11px;
		float:right;
		display:inline-block;
		border:1px solid #d8d8d8;
		padding:3px 10px;
		margin-top:17px
	}
}

.news_medic h2, .detal_bol h2, .kl_inf h2{
	color: #5a798f;
	font-size: 18px;
	margin: 15px 0px;
}

.add-comment {
	margin-top: 5px;
	margin-bottom: 20px;
	h6 {
		padding: 0;
		margin: 10px 0 20px;
		display: block;
		color: #5a798f;
		font-size: 18px;
	}

	textarea {
		height: 147px;
		min-height: 147px;
		border: 1px solid #d5d5d5;
		margin-top: 10px;
		padding: 10px;
		position: relative;
		margin-bottom: 14px;
	}
	a.forum {
		margin-top: 5px;
		color: #006699;
		font-size: 12px;
		border: none;
		&:hover {
			text-decoration: underline;
		}
	}
	label {
		font-size: 13px;
	}
	button {
		padding: 0 6px;
		width: initial;
	}
}


.btn_kom {
	text-align: right;
	margin-top: -15px;
}

.related-news {
	margin-top: 15px;
	h3 {
		margin-bottom: 17px;
	}
	.rel_new {
		background: #f5f2f6;
		padding: 3px 5px;
		margin-bottom: 13px;
		&:last-child {
			margin-bottom: 2px;
		}
		.data {
			display: inline-block;
			margin-right: 9px;
			vertical-align: top;
		}
	}
}

.data {
	display: inline-block;
	/* vertical-align:top; */
	margin-right: 5px;
}

.rel_link {
	display: inline-block;
	width: 365px;
	a {
		color:#005e9f;
		text-decoration:none;
		font-size:17px;
		&:hover {
			text-decoration:underline;
		}
	}
}

.banner3 {
	margin-bottom: 14px;
}

.doc_foto, .clinic_img {
	float: left;
	margin-right: 5px;
	img {
		border:1px solid #b4adad;
		box-shadow:1px 1px 3px #ccc;
	}
}

.doc_name a, .clinic_name a{
	color: #005e9f;
	text-decoration: none;
	font-size: 15px;
	line-height: 15px;
	&:hover{
		text-decoration: underline;
	}
}

.doc_spec, .clinic_spec {
	font-size: 13px;
	color: #252627;
	span {
		display: block;
		color: #5a798f;
		margin-top: -5px
	}
}

.doc_adress, .clinic_adress {
	color: #252627;
	font-size: 13px;
	span {
		display:block;	
	}
}

.all_doctor, .all_clinics {
	text-align: right;
	a {
		font-size:12px;
		color:#006699;
		text-transform: lowercase;
	}
}

.clinics, .doctors {
	background: #fff;
	border: 1px solid #d8d8d8;
	padding:10px;
	margin-top: 10px;
    margin-bottom: 10px;
	@include box-shadow(0 0 5px #d5d5d5);
}

.detal_opisanie{
	overflow: auto;
	height: 1000px;
	width: 445px;
}

.histori_vizd {
	display: inline-block;
	margin-right: 4px;
	margin-top: 25px;
}

.histori_title {
	text-align:center;
	width: 228px;
	margin-bottom: 10px;
	a {
		color: #005e9f;
		font-size:17px;
	}
}

.h_v {
	margin:0px;
}

.histori_img {
	position: relative;
}

.histori_more {
	position: absolute;
	background: #e2e5e7;
	padding: 5px;
	width: 110px;
	text-align: center;
	border: 1px solid #b0a9a9;
	box-shadow: 1px 1px 3px #ebebeb;
	top: 150px;
	left: 55px;
	color: #005e9f;
	font-size: 17px;
}

.pr {
	height: 25px;
	border-bottom: 1px solid #724b85;
}

.hist_serch {
	margin-top: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #724b85;
	padding-bottom: 10px;
	span {
		display:block;
		color:#252627;
		font-size:12px;
	}
	button {
		float:right;
	}
}


input[type="text"].searh_h {
	margin: 0;
	padding: 0;
	width: 354px;
	padding-left: 10px;
	height: 26px;
	border: 1px solid #6e4682;
	background: #fff;
}

.stories_medik {
	background: #fff;
	border: 1px solid #d8d8d8;
	padding: 10px;
	margin-top: 10px;
	@include box-shadow(0 0 5px #d5d5d5);
}

.stori {
	margin-bottom: 10px;
	img {
		float: left;
		margin-right: 5px;	
	}
	a {
		color:#005e9f;
		text-decoration:none;
		font-size:15px;
		line-height: 14px;
	}
}

.histori_img img {
	border:1px solid #b3ddef;
}

.katalog_diseases, .kliniks_topic,.doctor_topic {
	background: #fff;
	border: 1px solid #d8d8d8;
	padding: 10px;
	@include box-shadow(0 0 5px #d5d5d5);
}

.katalog_diseases h1 {
	color: #6e4682;
	font-size: 18px;
	border-bottom: 3px solid #6e4682;
	margin-bottom: 10px;
}

ul.katalog {
	position: relative;
	li{
		float:left;
		width:50%;
		list-style-type: none;
		margin: 5px 0px 2px 0px;
		a{
			color:#005e9f;
			font-size:17px;
			display:block;
			width: 92%;
			text-decoration: none;
		}
	}
}


.kliniks_topic,.doctor_topic {
	margin-top: 10px;
}

.doctor_t, .klinik {
	display: inline-block;
	width: 220px;
	margin-right: 23px;
	margin-bottom: 10px;
}

.blok_r {
	margin:0;
}

.recept_text {
	background: #e2e5e7;
	border: 1px solid #b7b0b0;
	box-shadow: 1px 1px 3px #ccc;
	color: #252627;
	padding-left: 5px;
	text-align: justify;
	padding-right: 5px;
	font-size: 13px;
	line-height: 16px;
}

.user {
	color: #252627;
	font-size: 13px;
	margin-bottom: 8px;
	span{
		color:#006699;
		text-decoration:underline;
		font-size:12px;
	}
}


.otz_com {
	float: right;
	margin-top: -15px;
}

.recept_bott {
	display: block;
	padding-bottom: 5px;
	padding-top: 5px;
}

.otz_com a {
	font-size:12px;
	color:#006699;
	margin-left:10px
}

.recept {
	margin-bottom:15px
}

.btn_kom_r {
	text-align: right;
	margin-top: 0px;
}

.news_kliniks {
	background: #fff;
	border: 1px solid #d8d8d8;
	@include box-shadow(0 0 5px #d5d5d5);
	padding: 8px;
	margin-bottom: 10px;
	margin-top: 0px;
	a {
		text-decoration:none;
		display:block;
		margin-bottom:5px;
		color:#005e9f;
		font-size:15px;
		&:hover {
			text-decoration:underline;
		}
	}
}


.but {
	display: block;
	color: #1e1d1d;
	text-decoration: none;
	font-size: 12px;
	border: 1px solid #6e4682;
	border-radius: 10px;
	@include trs(.4s);
	cursor: pointer;
	outline: none;
	width: 100px;
	text-align: center;
	height: 25px;
	line-height: 25px;
	margin: 0 auto;
	margin-top: 10px;
}

.but:hover {
	background: #6e4682;
	color: #fff;
}

.votes {
	color: #252627;
	font-size: 12px;
	text-align: center;
}

.rating_img {
	text-align: center;
	margin-top:10px;
	margin-bottom:10px;
}

span.legend_color1 {
	display: block;
	width: 10px;
	height: 10px;
	float: left;
	background: #8585b6;
	border-radius: 8px;
	margin-right: 3px;
	margin-top: 5px;
}

span.legend_color2 {
	display: block;
	width: 10px;
	height: 10px;
	float: left;
	background: #e3e1ed;
	border-radius: 8px;
	margin-right: 3px;
	margin-top: 5px;
}

span.legend_color3 {
	display: block;
	width: 10px;
	height: 10px;
	float: left;
	background: #323a7f;
	border-radius: 8px;
	margin-right: 3px;
	margin-top: 5px;
}

.legend {
	font-size: 12px;
	color: #000;
	span{
		font-size: 12px;
		color: #666666;
	}
}

.kl_inf{
	background: #fff;
	border: 1px solid #d8d8d8;
	-webkit-box-shadow: 0 0 5px #d5d5d5;
	-moz-box-shadow: 0 0 5px #d5d5d5;
	box-shadow: 0 0 5px #d5d5d5;
	padding: 8px;
	margin-bottom: 10px;
}

.logo_klinik, .map_klinik {
	display: inline-block;
	border: 1px solid #b0a9a9;
	box-shadow: inset 0px 0px 6px #ccc;
}

.map_klinik {
	float:right;
}

.logo_klinik img, .map_klinik img {
	box-shadow: 0px 0px 6px #ccc;
}

.info_clinik {
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 16px;
	span {
		color:#000;
		font-weight:bold;
	}
}


.search_doctor span {
	text-align:center;
	display:block;
	font-size:18px;
	color:#6e4682;
}

.ser_doc {
	border: 1px solid #6e4682;
	width: 335px;
	margin: 0 auto;
	height: 26px;
	padding-bottom: 1px;
	margin-top: 15px;
	margin-bottom: 20px;
}

input[type="text"].in_search_doc{
    border: none;
	
    margin: 0;
    padding: 0;
    width: 259px;
}

.left_list {
	width: 49%;
	float: left;
}

.right_list{
	width:49%;
	float:right;
}

.left_list ul li, .right_list ul li {
	list-style-type:none;
	padding-right:15px;
	margin-bottom:7px;
	a {
		text-decoration:none;
		color:#5a798f;
		font-size:16px;
	}
	h3 {
		margin-top: 20px;
	}
}

.detal_doctor h1{
	color: #6e4682;
	font-size: 18px;
	border-bottom: 3px solid #6e4682;
	margin-bottom: 10px;
}

.avatar {
	border: 1px solid #b5aeae;
	display: inline-block;
	background: #e2e5e7;
	padding: 2px;
	box-shadow: 0px 0px 6px #ccc;
}

.info_doctor{
	margin-top:15px;
	color:#252627;
	font-size:14px
}

.info_doctor span{
	display:block;
	color:#000;
	font-size:16px;
	font-weight:bold;
	margin-bottom:5px;
	margin-top:5px;
}

span.doc_cont{
	display:inline-block;
}

.content_topic {
	padding: 0px 255px 0px 0px;
}

.topic_wr h1{
	color: #6e4682;
	font-size: 18px;
	border-bottom: 3px solid #6e4682;
	margin-bottom: 10px;
}

.dat{
	display:inline;
	margin-left:10px;
}

.topic_wr{
	border: 1px solid #d5d5d5;
	padding: 10px;
	box-shadow: 0px 0px 5px #ccc;
	margin-left: 3px;
	overflow: hidden;
	margin-bottom: 4px;
}

.topic{
	border: 1px solid #d5d5d5;
	overflow: hidden;
	background: #fff;
}

.topic_left, .topic_right{
	/*display:inline-block;
	vertical-align:top;*/}

.topic_left{
    width: 150px;
	vertical-align: top;
	border-right: 1px solid #d5d5d5;
	padding: 10px;
}

.topic_right {
	width: 560px;
	padding: 10px;
	vertical-align: top;
}

.topic_bottom {
	border-top: 1px solid #d5d5d5;
	padding: 5px;
}

.topic_img img{
	border:1px solid #b5afaf;
	box-shadow:0px 0px 3px #ccc;
}

.name {
	margin-top:10px;
	margin-bottom:5px;
	a {
		color: #005e9f;
		text-decoration: none;
		font-size: 15px;
		&:hover {
			text-decoration: underline;
		}
	}
}

.info_mes {
	color:#252627;
	span {
		color:#5a798f;
		fon-size:13px;
	}
}


.namber_maess {
	text-align: right;
	margin-top: -18px;
	color: #5a798f;
	font-size: 14px;
}

.topic_massage {
	margin-top: 13px;
	p {
		margin:10px 0;
	}
	a.open, a.close {
		display: block;
		float: right;
		color: #006699;
		text-decoration: underline;
		font-size: 12px;
		cursor: pointer;
	}
}

.topic_top{
	background: #edebeb;
}

.quote {
	color: #999999;
	font-size: 14px;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
}


.quote_text {
	color: #252627;
	font-size: 14px;
	background: #e2e5e7;
	padding: 5px;
	border: 1px solid #b5aeae;
	padding-right: 0px;
	a {
		color:#005e9f;
		font-size:15px;
		text-decoration: none;
	}
	span.np {
		text-decoration:underline;
		color:#006699;
		font-size:12px;
	}
}

.txt {
	margin-top:15px;
}

.cite {
	margin-left:160px;
	color: #006699;
	text-decoration: underline;
	font-size: 12px;
}

.allocation {
	color:#fff;
	background:#0099cc;
}

.razd {
    border-bottom: 1px solid #6e4682;
	
}

.btn_quiz {
	width:100px;
	margin-top: 10px;
}

.quizs {
	display: inline-block;
	width: 50%;
}

.quiz {
	padding:5px;
	padding-top: 10px;
	padding-left: 10px;
	border-right: 1px solid #d5d5d5;
	border-bottom: 1px solid #d5d5d5;
	h6 {
		color:#005e9f;
		font-size:17px;
		display: block;
		width: 77%;
		margin-bottom: 10px;
	}

	label {
		padding-left:3px;
		line-height: 20px;
	}
}

.quiz_rezult {
	display:inline-block;
	vertical-align: top;
}

.quiz_wr {
	background: #fff;
	border: 1px solid #d5d5d5;
	padding:10px;
	padding-top: 0px;
	padding-left: 0px;
}


.rez {
	text-align: right;
}

.quiz_rezult {
	display: inline-block;
	vertical-align: top;
}

.quiz span {
	color: #252627;
	font-size: 12px;
	text-align: right;
	display: block;
}

.quiz_bg {
	background:#edebeb;
}

.rez a {
	color:#006699;
	font-size:12px;
}

.kl_inf h1 {
	color: #6e4682;
	font-size: 18px;
	border-bottom: 3px solid #6e4682;
	margin-bottom: 10px;
}

.other_articles {
	margin-top: 20px;
	margin-bottom: 25px;
}

.forum {
	border-collapse: collapse;
	background:#fff;
	text-align:center;
	border:1px solid #ccc;
	color:#252627;
	font-size: 14px;
	font-weight: bold;
	tr {
		th {
			color:#5a798f;
			padding: 5px;
			font-size: 13px;
			font-weight: normal;
		}
		td {
			padding:5px;
			&:first-child,&:last-child {
				text-align:left;
			}
		}
	}
}

.f_bg {
	background:#edebeb;
}

a.name_razd {
	font-size:15px;
	color:#005e9f;
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}


.opis_razd{
	color:#252627;
	font-size:13px;
	font-weight: normal;
}

.author {
	font-weight:normal;
	font-size:13px;
	color:#252627;
	a {
		color:#006699;
		font-size:12px;
	}
}


.latest_post {
	font-size:12px;
	color:#006699;
}

span.author {
	float: left;
	margin-right: 13px;
}

.sd {
	line-height: 22px;
}

.pagination_forum{
	float:right;
	ul {
		li {
			float:left;
			margin-right:4px;
			list-style-type:none;
			color: #006699;
			a {
				color:#006699;
				font-size:12px;
				font-weight:normal;
			}
		}
	}
}
	

.medic_title h2 {
	margin:0;
}

.left-sidebar {
	.doctors {
		margin:0;
	}
	.sentiments {
		margin-bottom:16px;
	}
}


ul.menu_ads {
	margin-bottom: 10px;
	display: inline-block;
	li {
		float: left;
		list-style-type: none;
		border: 1px solid #d8d8d8;
		padding: 3px;
		background:#fff;
		&.active {
			border: 1px solid #78538b;
			padding-top: 5px;
			padding-bottom: 5px;
			background:#fff;
		}

		&:hover {
			border: 1px solid #78538b;
		}
		a {
			font-size: 11px;
			color: #1e1d1d;
			text-decoration: none;
		}
	}
}



a.my_ads, a.add_ads{
	display: inline-block;
	float:right;
	border:1px solid #d6d6d6;
	padding:3px;
	background:#fff;
	text-decoration:none;
	color:#1e1d1d;
	font-size:11px;
}

.topic_wr form span{
	display:block;
}

.ads_f {
	float:left;
	display: inline-block; 
	vertical-align:top;
	margin-right: 35px;
}

input[type="text"].ads_serch{
	border:1px solid #6e4682;
	width:350px;
	height:25px;
	padding-top: 0;
	outline: none;
}

#category_id{
	border:1px solid #6e4682;
	outline: none;
	-webkit-appearance: none;
	background: #FFF url(../images/str_val.png) no-repeat 98% 80%;
	width: 186px;
	height: 27px;
	color: #5c7fa7;
	margin-bottom: 15px;
	color:#6e4682;
	/* width: 100%; */
	position: relative;
	top: 5px;
	font-size:14px;
}

.ads_btn{
	margin-top: 23px;
}

.ads_l {
	display:inline-block;
	border-right:1px solid #ccc;
	width:49%;
	vertical-align: top;
	margin-top: 15px;
}

.ads_r {
	display:inline-block;
	width:49%;
	vertical-align: top;
	margin-top: 15px;
}

.cat_id {
	margin-top:15px;
	margin-bottom:15px;
	span{
		color:#5a798f;
		font-size:17px;
	}
	ul {
		li {
			list-style-type:none;
			float:left;
			margin-right:10px;
			a {
				color:#005e9f;
				font-size:17px;
				&:hover{
					text-decoration:none;
				}
			}
		}
	}
}


span.kol_ads{
	color:#252627;
	font-size:14px;
}


.cal_act_l span{
	font-size: 14px;
	color: #5a798f;
}

.activiti {
	background: #fff;
	border: 1px solid #d8d8d8;
	padding: 10px;
	-webkit-box-shadow: 0 0 5px #d5d5d5;
	-moz-box-shadow: 0 0 5px #d5d5d5;
	box-shadow: 0 0 5px #d5d5d5;
	h1 {
		color: #6e4682;
		font-size: 18px;
		border-bottom: 3px solid #6e4682;
		margin-bottom: 10px;
		span {
			color:#5a798f;
		}
	}
}

.cal_activiti {
	display:inline-block;
	margin: 0;
	background: none;
	border: none;
	box-shadow: none;
	padding: 0;
	float: left;
}

.mon_activiti {
	/*text-align:left;*/
}

.cal_act_l {
	display: inline-block;
	vertical-align: top;
	width: 150px;margin-right: 15px;
}

.cal_act_r {
	display: inline-block;
	vertical-align: top;
}

.days_activiti {
	margin-top: 0!important;
}

.pg_activiti {
	margin-top:10px!important;
}

.m_activiti {
	color:#333333;
	font-size:12px;
	padding-left:10px;
}

.left_activiti {
	left:0%!important;
}

.right_activiti {
	right:0%!important;
}

.pagination_activiti {
	.left {
		top: 14px;
	}
	.right {
		top:14px;
	}
}


ul.menu_activiti {
	margin-bottom: 10px;
	display: inline-block;
	float: right;
	li {
		float: left;
		list-style-type: none;
		border: 1px solid #d8d8d8;
		padding: 3px;
		background:#fff;
		width: 100px;
		text-align: center;
		height: 17px;
		line-height: 13px;
		&.active {
			border: 1px solid #78538b;
			padding-top: 5px;
			padding-bottom: 5px;
			background:#fff;
		}

		&:hover {
			border: 1px solid #78538b;
		}

		a {
			font-size: 11px;
			color: #1e1d1d;
			text-decoration: none;
		}
	}
}


.activiti_l {
	display: inline-block;
	width: 341px;
	background: #e2e5e7;
	border: 1px solid #b0a9a9;
	box-shadow: 1px 1px 3px #f5f5f5;
	padding: 3px;
	margin-bottom: 20px;
}

.activiti_r {
	display: inline-block;
	width: 341px;
	float: right;
	background: #e2e5e7;
	border: 1px solid #b0a9a9;
	box-shadow: 1px 1px 3px #f5f5f5;
	padding: 3px;
	margin-bottom: 20px;
}


.act_title,.act_time {
	display: inline-block;
	vertical-align: top;
}

.act_top {
	margin-bottom: 5px;
}

.act_title {
	width: 250px;
	color: #005e9f;
	font-size: 17px;
}

.act_time {
	float: right;
	color: #999999;
	font-size: 20px;
}

.act_img img {
	border:1px solid #b4dcef;
}

.activiti_l,.activiti_r {
	p {
		color:#252627;
		font-size:13px;
		margin:7px 0;
	}
	a {
		float:right;
		color:#006699;
		&:hover{
			text-decoration:none;
		}
	}
}

a.button {
	background: #fff;
	height: 25px;
	border: 1px solid #6e4682;
	border-radius: 10px;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	cursor: pointer;
	outline: none;
	padding: 0 10px;
	text-decoration: none;
	float: right;
	line-height: 25px;
	color: #1e1d1d;
	font-size: 12px;
	&:hover {
		background: #6e4682;
		color: #fff;
	}
}


.line {
	height: 1px;
	background: #ccc;
	margin-top: 15px;
	margin-bottom: 15px;
}

.soon_wl, .soon_wr {
	background:#f5f2f6;
	border:1px solid #b0a9a9;
	box-shadow:1px 1px 3px #f5f5f5;
	display: inline-block;
	width: 335px;
	padding: 7px;
	padding-top: 0px;
	margin-bottom: 10px;
}

.soon_wr {
	float:right;
}

.data {
	margin-bottom: -2px;
	font-size: 10px;
	color: #999999;
}

.soon_sep {
	color: #999999;
}

.categori {
	color:#5a798f;
	font-size:13px;
}

.soon_w {
	margin-top:5px;
	img {
		float:left;
		margin-right:5px;
	}
	a {
		color:#005e9f;
		text-decoration:none;
		font-size:17px;
		line-height: 16px;
		&:hover {
			text-decoration:underline;
		}
	}
	p {
		color: #252627;
		font-size: 14px;
		line-height: 15px;
		margin-top: 3px;
	}
}


.recommend_l, .recommend_r{
	display: inline-block;
	width: 335px;
	background:#e2e5e7;
	border:1px solid #b0a9a9;
	box-shadow:1px 1px 3px #fbfbfb;
	padding: 7px;
	a {
		color:#005e9f;
		font-size:17px;
		text-decoration:none;
		&:hover {
			text-decoration:underline;
		}
	}
	p {
		font-size: 13px;
		color: #252627;
		line-height: 14px;
		margin: 0 0 5px 0;
	}
}

.recommend_r {
	float:right;
}

.rec_img {
	margin:5px 0px;
	img {
		border:1px solid #b5ddee;
	}
}

a.rec_more {
	color:#006699;
	font-size:12px;
	text-decoration:underline;
	float:right;
}

a.still {
	float:right;
	color:#006699;
	font-size:12px;
	&:hover{
		text-decoration:none;
	}
}


h3.akt {
	color:#5a798f;
	font-size:18px;
	border: none;
	margin-top: 20px;
	margin-bottom: 20px;
}

.img_ava,.img_maps {
	display: inline-block;
	border: 1px solid #b0a9a9;
	box-shadow: inset 0px 0px 6px #ccc;
}

.img_ava {
	float:left;
	img {
		padding: 4px;
	}
}

.img_maps {
	float: right;
}

.recom_text {
	margin-top: 15px;
	p {
		margin:15px 0px;
		color:#252627;
		font-size:14px;
	}
}

.kontakt {
	border:1px solid #d5d5d5;
	padding:5px;
	padding-top:0;
	color:#252627;
	margin-bottom: 10px;
	span {
		display:block;
		color:#5a798f;
		margin-bottom: 5px;
		margin-top: 5px;
	}
}

ul.search {
	margin-top:15px;
	margin-bottom: 15px;
	li {
		list-style-type:none;
		float:left;
		margin-right:10px;
		&.aktive a {
			text-decoration: none;
		}
		a {
			color:#005e9f;
			&:hover {
				text-decoration:none;
			}
		}
	}
}

input[type="text"].serch_in {
	padding-left: 10px;
	width: 355px;
	height: 26px;
	border: 1px solid #6e4682;
	background: #fff;
	margin: 0;
	padding-top: 0;
	float: left;
	margin-right: 25px;
	outline: none;
}

.select_l {
	float:left;
	margin-top: 10px;
	margin-bottom: 10px;
}

.select_r {
	float:right;
	margin-top: 10px;
	margin-bottom: 10px;
}

select {
	border:1px solid #6e4682;
	outline: none;
	-webkit-appearance: none;
	background: #FFF url(../images/str_val.png) no-repeat 98% 80%;
	width: 220px;
	height: 27px;
	color: #5c7fa7;
	margin-bottom: 15px;
	color:#6e4682;
	/* width: 100%; */
	position: relative;
	top: 5px;
	font-size:14px;
	display:block;
}

span.i_serch{
	color:#1e1d1d;
	font-weight:bold;
	float: left;
}

.adv_btn{
	text-align:center;
}

ul.result_serch {
	li {
		list-style-type:none;
		float:left;
		width:47%;
		padding:5px;
		font-size: 13px;
		letter-spacing: -0.3px;
		line-height: 16px;
		a {
			color:#005e9f;
			font-size:15px;
			text-decoration:none;
			display:block;
			&:hover {
				text-decoration:underline;
			}
		}
	}
	span {
		display:block;
	}
}

span.spec{
	color:#5a798f;
}

.select {
	width:200px;
	margin:0 auto;
	.select span{
		color:#1e1d1d;
		font-size:14px;
		text-align:center;
		margin:15px 0px;
		display:block;
	}
}

ul.dc {
	li {
		list-style-type:none;
		a {
			text-decoration:none;
			color:#5a798f;
			font-size:16px;
			&:hover {
				text-decoration:underline;
			}
		}
	}
}


a.all_doc{
	color:#e21c2a;
	font-size:12px;
	&:hover{
		text-decoration:none;
	}
}
